@model StoreFront.DATA.EF.Models.Company

<td colspan="6">
    <form asp-action="AjaxEdit" method="post" id="CompanyEditForm">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="CompanyId" />

        @*<label asp-for="CompanyName" class="control-label"></label>*@
        <input asp-for="CompanyName" class="form-control" placeholder="Company Name..." />
        <span asp-validation-for="CompanyName" class="text-danger"></span>


        @*<label asp-for="State" class="control-label"></label>*@
        <input asp-for="State" class="form-control" placeholder="Company State..." />
        <span asp-validation-for="State" class="text-danger"></span>


        @*<label asp-for="City" class="control-label"></label>*@
        <input asp-for="City" class="form-control" placeholder="Company City" />
        <span asp-validation-for="City" class="text-danger"></span>

        @*<label asp-for="Address" class="control-label"></label>*@
        <input asp-for="Address" class="form-control" placeholder="Company Address" />
        <span asp-validation-for="Address" class="text-danger"></span>

        @*<label asp-for="Phone" class="control-label"></label>*@
        <input asp-for="Phone" class="form-control" placeholder="Company Phone" />
        <span asp-validation-for="Phone" class="text-danger"></span>

        <div class="mt-1 text-center">
            <input type="submit" value="Save" class="btn btn-primary" id="saveUpdate" />
        </div>
    </form>
</td>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
