@model StoreFront.DATA.EF.Models.SwordType

<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.SwordType1)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.SwordType1)
        </dd>
    </dl>
</div>
