@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    }
}
<div class="offset-4 row">
    <div class="col-md-6">
        <section class="rounded shadow p-4 text-center">
            <h1>Manage your account</h1>
        </section>
    </div>
</div>

<div class="offset-2 row">
    <div class="col-md-4">
        <section class="rounded shadow p-4 mb-5 mt-5">
            <h2>Change your account settings</h2>
            <hr />
            <div>
                <div class="col-md-12">
                    <partial name="_ManageNav" />
                </div>
            </div>
        </section>
    </div>

    <div class="col-md-4 offset-2 ">
        <section class="rounded shadow p-4 mb-5 mt-5 w-100">
            @RenderBody()
        </section>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
