@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<div class="offset-4 col-md-4">
    <section class="rounded shadow p-4 mb-5 mt-5">
        <h1>@ViewData["Title"]</h1>
        <h2>Enter your email.</h2>
        <hr />
        <div class="row">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                        <label asp-for="Input.Email" class="form-label"></label>
                    <div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                <button type="submit" class="w-50 offset-3 btn btn-lg btn-primary mt-2">Resend</button>
                </form>
        </div>
    </section>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
