@model StoreFront.DATA.EF.Models.Product

@{
    ViewData["Title"] = "Create";
}
<div class="row mb-5 text-center">
    <section class="product_section layout_padding gray-section pb-4 pt-4 mb-4">
        <div class="heading_container heading_center">
            <h1 class="text-center">
                Create <span>Products</span>
            </h1>
        </div>
    </section>

    <section class="shadow rounded col-md-4 offset-4 p-5">
        <div>
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <label asp-for="ProductName" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <input asp-for="ProductName" class="form-control text-center" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>

                <label asp-for="ProductDescription" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <input asp-for="ProductDescription" class="form-control text-center" />
                    <span asp-validation-for="ProductDescription" class="text-danger text-center "></span>
                </div>

                <label asp-for="ProductPrice" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <input asp-for="ProductPrice" class="form-control text-center" />
                    <span asp-validation-for="ProductPrice" class="text-danger"></span>
                </div>

                <label asp-for="CategoryId" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <select asp-for="CategoryId" class="form-control text-center" asp-items="ViewBag.CategoryId"></select>
                </div>

                <label asp-for="CompanyId" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <select asp-for="CompanyId" class="form-control text-center" asp-items="ViewBag.CompanyId"></select>
                </div>

                <label asp-for="ProductStatusId" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <select asp-for="ProductStatusId" class="form-control text-center" asp-items="ViewBag.ProductStatusId"></select>
                </div>

                <label asp-for="SwordId" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <select asp-for="SwordId" class="form-control text-center" asp-items="ViewBag.SwordId"></select>
                </div>

                <label asp-for="GenreId" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    <select asp-for="GenreId" class="form-control text-center" asp-items="ViewBag.GenreId"></select>
                </div>

                <label asp-for="ProductImage" class="control-label d-block text-center m-3"></label>
                <div class="form-floating">
                    @*<input asp-for="ProductImage" class="form-control" />*@
                    <input type="file" asp-for="Image" />
                    <span asp-validation-for="ProductImage" class="text-danger"></span>
                </div>

                <label class="form-check-label d-block text-center mt-4">
                    @Html.DisplayNameFor(model => model.IsFeatured) <br />
                    <input asp-for="IsFeatured" />
                </label>


                <div class="form-floating">
                    <input type="submit" value="Create Product" class="btn btn-primary mb-3 text-center w-100 d-inline-block mt-3" />
                    <a asp-action="AdminView" class="btn btn-secondary text-center w-100 d-inline-block mb-3">Back to Products List</a>
                    <a asp-action="Index" class="btn btn-secondary text-center w-100 d-inline-block mb-3">Back to Products Tile</a>
                </div>
            </form>
        </div>
    </section>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
